body {
    background-color: #033b5c;
    color: #FFF;
    border: 0px;
    margin: 0px;
    overflow: hidden;
}

.wrapper {
    position: absolute;
    top: 15%;
    left: 0px;
    right: 0px;
    width: 100%;
    height: auto;
}

.sammy {
    float: none;
    width: 100%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.round {
    border-radius: 50%;
    overflow: hidden;
    width: 350px;
    height: 350px;
}

.round img {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
}

.message {
    float: left;
    width: 100%;
    height: auto;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
    padding:20px;
    padding-right: 25px;
}

h1 { 
    font-size: 100%;
}
h2 { 
    font-size:50%;
}
h3 { 
    font-size:25%;
}

a:visited{color:white;}
a:hover{color:#4e8cc3;}